.single {
  .hero {
    margin-bottom: 5rem;

    &__heading {
      grid-column: 1/3;
    }
  }

  .leading-copy {
    margin-bottom: 5rem;

    p:first-of-type {
      color: $color-primary;
      font-size: $default-font-size * 1.1;
    }
  }

  .gallery .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    margin-bottom: 5rem;

    a {
      display: block;
      height: 25vh;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.small-cta {
  border: 1px solid $color-grey-light;
  margin-left: 15rem;
  padding: 2rem 3rem;
  text-align: center;

  svg {
    width: 10rem;
    height: auto;
  }

  p:first-of-type {
    position: relative;
    margin-bottom: 4rem;

    &:after {
      content: '';
      position: absolute;
      left: 25%;
      top: calc(100% + 2rem);
      width: 50%;
      height: 1px;
      background-color: $color-primary;
    }
  }

  .email,
  .tel {
    font-weight: 400;
    margin-bottom: 0;
  }
}

.twin-column {
  margin-bottom: 5rem;

  p {
    columns: 2;
    column-gap: 10rem;
  }
}

.image-text-section {
  margin-bottom: 5rem;

  +.image-text-section {
    margin-bottom: 3rem;
  }

  img,
  .text {
    grid-row: 1/2;
  }

  img.invert {
    grid-column: 2/3;
  }

  text.invert {
    grid-column: 1/2;
  }
}

.text-quote-section {
  .quote {
    position: relative;
    margin-left: 10rem;
    font-style: italic;
    color: $color-primary;
    line-height: 1.5;

    span:first-of-type {
      position: absolute;
      top: 0;
      left: -1rem;
    }

    >div {
      position: sticky;
      top: 10rem;
    }
  }
}

section.archive {
  .row {
    grid-gap: 4rem;
  }

  >.row.header {
    padding-top: 3rem;
    margin-bottom: 5rem;
    border-top: 1px solid $color-grey-light;

    h4 {
      margin-bottom: 1rem;
    }
  }

  &.news {
    margin-top: 5rem;
  }
}

.article-card {
  display: flex;
  flex-direction: column;

  .lower {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 4rem;

    .date {

      font-size: $default-font-size * .8;
      margin-bottom: 1rem;
    }

    .heading {
      margin-bottom: 2rem;
      flex-grow: 1;
    }

    .button {
      margin: 1rem -2rem 0;
    }
  }
}

.featured-section {
  &__card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 3rem;
    background-color: white;

    img {
      min-height: 30rem;
      max-height: 100%;
      object-fit: cover;
    }

    .detail {
      margin: 2rem 5rem;

      p {
        display: none;

        &:nth-of-type(2),
        &.date {
          display: block;
        }
      }
    }
  }
}