footer {
  position: relative;
  overflow: hidden;

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 4rem;
    width: 100vw;
    height: 100vw;
    background-image: url("inc/img/leopard.svg");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.1;
  }

  p {
    font-size: $default-font-size * 0.8;

    &:not(:last-child) {
      margin-bottom: 0.5em;
    }
    a {
      color: $color-grey-dark;
      &:before {
      }
    }
  }

  .testimonial,
  .footer-cta {
    padding: 10rem 0;
    background-size: cover;
    background-position: center;

    &__item,
    .copy {
      width: 50vw;
      color: white;

      .copy {
        position: relative;
        font-family: $alt-font-header;
        font-style: italic;
        font-size: $default-font-size * 1.1;

        &:after {
          content: "";
          position: absolute;
          bottom: -3rem;
          left: 0;
          width: 10rem;
          height: 1px;
          background: white;
        }
      }

      .author {
        margin-top: 6rem;
        margin-bottom: 4rem;
        font-family: $default-header-style;
      }
    }

    .copy {
      width: 25vw;

      .heading {
        line-height: 2;
        margin-bottom: 5rem;
      }
    }
  }

  .lower-panel {
    position: relative;
    padding: 5rem 0;

    .logo {
      margin-bottom: 3rem;
    }

    .menu-item {
      text-transform: uppercase;
    }
  }

  .video {
    text-transform: uppercase;
    display: flex;

    svg {
      margin: -1rem 0 0 1rem;
      transition: 0.3s filter ease;

      &:hover {
        cursor: pointer;
        filter: brightness(1.5);
      }
    }
  }

  .socket {
    border-top: 1px solid $color-grey-light;
    padding: 1rem 0;
  }
}
.personal-footer {
  width: 40vw;
  margin: 0 auto;
  padding: 5rem 5rem 3rem;
  border: 1px solid $color-grey-light;
  text-align: center;
  svg {
    margin-bottom: 3rem;
  }
  .heading {
    margin-bottom: 0;
    + p {
      margin-top: 0.5rem;
      margin-bottom: 2.5rem;
    }
  }
  .contacts {
    display: flex;
    justify-content: space-around;
    width: 100%;
    a {
      font-weight: 900;
      color: $color-grey-dark;
      &:before {
        display: none;
      }
    }
  }
}
.personal-socket {
  text-align: center;
  p {
    display: inline-block;
    margin: 1rem 2rem;
    font-size: $default-font-size * 0.8;
  }
}
