header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 500;
    background-color: rgb(255 255 255 / 75%);
    transition: 0.5s all ease;

    > div {
        display: grid;
        grid-template-columns: minmax(10rem, 15rem) auto minmax(20rem, 20rem);
        grid-column-gap: 2rem;

        > * {
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 0;
        }

        a {
            border: none;
        }
    }

    .logo a {
        display: flex;
    }

    svg.logo {
        width: auto;
        height: auto;
    }

    .search {
        position: relative;
        display: grid;
        grid-template-columns: auto 3rem;
        align-items: center;
        padding-left: 2rem;
        padding-right: 2rem;
        background-color: $color-grey-dark;

        &:after {
            @include psuedoElement;
            top: 0;
            right: -50rem;
            height: 100%;
            width: 50rem;
            background: $color-grey-dark;
        }
    }

    #search-field {
        border: none;
        background-color: $color-grey-dark;

        &::placeholder {
            text-transform: uppercase;
            color: $color-grey-light;
        }
    }

    i {
        color: $color-grey-light;
    }
}

.primary-link {
    position: relative;
    display: grid;
    grid-template-columns: auto 2rem;
    grid-gap: 0.5rem;
    align-items: center;
    padding: 0 1rem;
    text-align: center;
    font-size: $default-font-size * 0.8;
    font-weight: 300;
    letter-spacing: $default-font-size * 0.075;
    background-color: $color-grey-mid;
    color: white;
    text-decoration: none;

    span {
        position: relative;
        display: block;
        z-index: 10;
    }

    svg {
        position: relative;
        width: 1.5rem;
        height: 1.5rem;
        opacity: 0.25;
        z-index: 10;
    }

    &:before {
        @include psuedoElement;
        bottom: 0;
        left: 0;
        right: -100%;
        width: 0;
        height: 100%;
        background-color: $color-grey-dark;
        z-index: 0;
        transition: 0.5s all ease;
    }

    &:after {
        @include psuedoElement;
        top: 0;
        right: -50rem;
        height: 100%;
        width: 50rem;
        background: $color-grey-mid;
        z-index: -1;
    }

    &:hover {
        &:before {
            width: 200%;
        }

        svg {
            opacity: 1;

            path {
                animation-name: pulse;
                animation-duration: 1s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
                animation-direction: alternate;
            }
        }
    }
}

@keyframes pulse {
    from {
        fill: $color-grey-mid;
    }

    to {
        fill: $color-grey-light;
    }
}

.scrollUp {
    transform: translateY(-15rem);
}

.scrolled {
    header {
        background-color: white;
        box-shadow: 0 20px 20px -10px rgb(0 0 0 / 25%);
    }
}
